<div class="head" [ngClass]="getHeadClass()">
  <div class="head-content">
    <div class="head-content-left">
      <div class="search-container">
        <div *ngIf="!canShowSearchAsOverlay" class="normal-search">
          <input type="search" class="search"
            [placeholder]="search"
          >
          <i class="fa-solid fa-magnifying-glass search-icon"></i>
        </div>
        <div *ngIf="canShowSearchAsOverlay">
          <button [cdkMenuTriggerFor]="searchOverlay"
          class="search-menu-btn ripple">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="head-content-right">
      <div class="head-menu">
        <div class="head-menu-item">
            <button class="head-menu-item-btn ripple" [cdkMenuTriggerFor]="languageOverlay">
              <img [src]="'assets/flag/' + selectedLanguage.flag + '.png'" alt="flag" class="flag">
            </button>
        </div>
          <div class="head-menu-item">
            <button class="head-menu-item-btn ripple">
              <i class="fa-solid fa-expand menu-icon"></i>
            </button>
          </div>
          <div class="head-menu-item">
            <button class="head-menu-item-btn ripple" [cdkMenuTriggerFor]="notificationOverlay">
              <i class="fa-solid fa-bell menu-icon"></i>
            </button>
          </div>
          <div class="head-menu-item">
            <button class="head-menu-item-btn ripple">
              <i class="fa-solid fa-comment menu-icon"></i>
            </button>
        </div>
      </div>
      <div class="head-user-avatar-container">
        <div class="head-user-avatar" [cdkMenuTriggerFor]="userOverlay">
          <img src="././assets/my-photo.jpeg" alt="user" class="user-avatar">
          <div class="circle-indicator pulse"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #searchOverlay>
  <div class="overlay overlay-search overlay-fall" cdkMenu>
    <input type="search" class="search"
           [placeholder]="search"
    >
    <button class="search-btn">
      <i class="fa-solid fa-magnifying-glass search-icon"></i>
    </button>
  </div>
</ng-template>

<ng-template #languageOverlay>
  <div class="overlay overlay-language overlay-fall" cdkMenu>
    <ul>
      <li *ngFor="let lang of languages"  cdkMenuItem>
        <img [src]="'assets/flag/' + lang.flag + '.png'" alt="flag" class="img-flag">
        <span>{{ lang.language  }}</span>
      </li>
    </ul>
  </div>
</ng-template>

<ng-template #notificationOverlay>
  <div class="overlay overlay-notification overlay-fall" cdkMenu>
     <ul>
       <li class="notification-head-container">
          <div class="notification-head">Notification</div>
         <span class="view-all-link">
           <a>View All</a>
         </span>
       </li>
       <li class="notification-message-container"
           *ngFor="let notification of notifications"
           cdkMenuItem
       >
          <i [class]="notification.icon"></i>
         <div>
           <div class="notification-subject">
             {{ notification.subject }}
           </div>
           <div class="notification-desc">
             {{ notification.description }}
           </div>
         </div>
       </li>
     </ul>
  </div>
</ng-template>

<ng-template #userOverlay>
  <div class="overlay overlay-user overlay-fall">
    <ul>
      <li *ngFor="let item of userItems" cdkMenuItem>
         <a>
           <i class="icon" [ngClass]="item.icon"></i>
           <span>{{ item.label }}</span>
         </a>
      </li>
    </ul>
  </div>
</ng-template>
